{% load static %}
{% load mathfilters %}

<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">
    <head>
        <title>{% block title %}Auctions{% endblock %}</title>
        <link href="{% static 'auctions/bulma.css' %}" rel="stylesheet">
        <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
        <script src="{% static 'auctions/msg.js' %}"></script>
    </head>
    <body>
        <div class="navbar is-light is-fixed-top">
            <div class="navbar-brand">
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
                  <span aria-hidden="true"></span>
                  <span aria-hidden="true"></span>
                  <span aria-hidden="true"></span>
                </a>
              </div>
            <div class="navbar-menu" id="navMenu">
                <div class="navbar-start">
                    
                    <a class="navbar-item" href="{% url 'index' %}">Active Listings</a>
                    {% if user.is_authenticated %}
                    <a class="navbar-item" href="{% url 'create' %}">Create Listing</a>
                    <a class="navbar-item" href="{% url 'watchlist' %}">Watchlist</a>
                    {% endif %}
                    <a class="navbar-item" href="{% url 'categories' %}">Categories</a>
                
                </div>
                
                <div class="navbar-end">
                    <a class="navbar-item">
                        {% if user.is_authenticated %}
                                Signed in as&nbsp<strong>{{ user.username }}</strong>.
                        {% endif %}
                    </a>
                    <div class="navbar-item">
                        <div class="buttons">
                            {% if user.is_authenticated %}

                                <a class="button is-white" href="{% url 'logout' %}">Log Out</a>

                            {% else %}
                    
                                <a class="button is-primary" href="{% url 'login' %}">Log In</a>
                                <a class="button is-white" href="{% url 'register' %}">Register</a>
                    
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        {% block body %}
        {% endblock %}
    </body>
</html>
