{% extends "auctions/layout.html" %}

{% block body %}

    {% if message %}
    <div class="notification is-danger is-light msg">
        <button class="delete"></button>
        {{ message }}
    </div>
    {% endif %}
    <div class="cont">
        <form class="box" action="{% url 'register' %}" method="post">
            {% csrf_token %}
            <div class="field">
                <h2>Register</h2>
            </div>
            <div class="field">
                <input class="input" autofocus type="text" name="username" placeholder="Username">
            </div>
            <div class="field">
                <input class="input" type="email" name="email" placeholder="Email Address">
            </div>
            <div class="field">
                <input class="input" type="password" name="password" placeholder="Password">
            </div>
            <div class="field">
                <input class="input" type="password" name="confirmation" placeholder="Confirm Password">
            </div>
            <input class="button is-primary" type="submit" value="Register">
            <div class="field">
                Already have an account? <a href="{% url 'login' %}">Log In here.</a>
            </div>
        </form>
    </div>  
{% endblock %}